<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNFPjwWetVHdagRnugBosUnlDD7pe4tzg</string>
	<key>GCM_SENDER_ID</key>
	<string>296895058026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rachitadongre.medicinereminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-for-medicine</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-for-medicine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296895058026:ios:e585e727f030525c333a13</string>
</dict>
</plist>